            /* ----------  IMPORTACIONES DE FUENTE ----------- */

@font-face {
    font-family: "bungee";
    src: url('recursos/Bungee/Bungee-Regular.ttf');
}

/* CSS estatico */

#reloj {                    /* la caja del reloj, posición relativa para que los demas componentes del reloj tomen posiciones 
                            respecto a este div */
    position: relative;
    max-width: 600px;
    max-height: 600px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 60%;         /* lo redondeamos */
    border: 15px groove gold;       /* borde dorado con efecto groove para dar relieve */
    margin: auto;                    /* centramos */
    background: radial-gradient(brown 25%, #653203);    /* fondo con gradiente radial */
    box-shadow: 10px 10px 1px orange    /* le ponemos sombra al reloj  */
}
#centro {
    position: absolute;
    width: 9%;            /* eje de las agujas del reloj */
    height: 9%;
    border-radius: 60%;     /* redondeamos */
    background: radial-gradient(grey 25%, #653203);     /* fondo con gradiente radial */
    left: 45%;    /* lo posicionamos en el centro del reloj */
    top:45%;
    box-shadow: 3px 3px 1px #653203;
}
#segundero {
    position: absolute;
    width: 55%;
    height: 15px;
    margin: auto;
    top: 48%;
    left: 42%;
    background: linear-gradient(0deg, grey, #653203);  /* gradiente lineal a la aguja para dar sensación de relieve */
    border-radius: 10px;
    z-index: 5;
    animation-name: segundos;       /* animación del segundero */
    animation-duration: 60s;            /* tiempo en hacer la animación (dar la vuelta, un minuto son 60 segundos) */
    animation-iteration-count: infinite;    /* que lo haga infinitas veces */
    animation-timing-function: steps(60, end);     /* la animación se divida en 60 pasos */
    transform-origin: 15%;                  /* con esto desplazamos el eje de rotación de la aguja al 15% de su longuitud
                                            *  para que nos asome por el otro lado del eje de las agujas */ 
}
#minutero {
    position: absolute;
    width: 45%;
    height: 15px;
    margin: auto;
    top: 48%;
    left: 42%;
    background: linear-gradient(0deg, blue, black);
    border-radius: 10px;
    z-index: 6;                 /* el minutero estara por encima del resto */
    animation-name: minutos;
    animation-duration: 3600s;                      /* la animación dura 3600 segundos (1 hora) */
    animation-iteration-count: infinite;
    animation-timing-function: steps(3600, end);     /* la animación se divida en 3600 pasos */
    transform-origin: 20%;          /*desplazamos el eje de rotación al 20% de su longitud */
}
#hora {
    position: absolute;
    width: 30%;
    height: 15px;
    margin: auto;
    top: 48%;
    left: 42%;
    background: linear-gradient(0deg, green, black);
    border-radius: 10px;
    z-index: 6;                 /* el minutero estara por encima del resto */
    animation-name: horas;
    animation-duration: 43200s;                      /* la animación dura 43200 segundos (1 hora x 12) */
    animation-iteration-count: infinite;
    animation-timing-function: steps(3600, end);     /* la animación se divida en 3600 pasos */
    transform-origin: 25%;          /*desplazamos el eje de rotación al 20% de su longitud */
}

.numero {
    font-family: bungee;            /* el formato del texto de los números importados */
    position: absolute;
    font-size: 100%;
    text-shadow: gold 2px 2px 1px;  /* sombra a los números */
}
#doce {             /* posicionamos los distintos números respecto al reloj */
    top: -2.5%;
    left:47.5%
}
#nueve {
    top: 42.5%;
    left: 5%
}
#seis {
    left: 48%;
    top: 88%
}
#tres {
    top: 42.5%;
    left: 92%
}
h3 {
    text-align: right;
    vertical-align: center;
}

#volver {
    font-family: arial black;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    padding: 5px;
}